
:root{
  --primaryClr:rgb(90, 128, 0);
  --secondaryClr:lightgreen;
  --trClr:yellow;
}

body{
  margin: 0;
  font-size: 1.2rem;
}

*{
  box-sizing: border-box;
}
.arbutus-regular {
  font-family: "Arbutus", serif;
  font-weight: 400;
  font-style: normal;
}


.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}


/* wrapper */
.wrapper{
  background:url(./assets/blackboard.jpg);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Calculator */
.calculator{
  background-color: rgb(0 0 0 / 99%);
  width: 400px;
  padding: 2rem 1.5rem;
  border-radius: 10px;


  display: grid;
  gap: 1rem;
  grid-template-areas: 
  "display display display display"
  "ac c per divide"
  "btn7 btn8 btn9 x"
  "btn4 btn5 btn6 minus"
  "btn1 btn2 btn3 plus"
  "btn0 dot equal equal";

  transform: perspective(90rem) rotateX(30deg);
  animation: moving 1.2s ;

  box-shadow:5px -5px 10px 1px white ;

}

.display{
  background-color: rgb(0, 0, 0);
  padding: 1rem;
  font-size: 1.5rem;
  color: white;
  text-align: end;
  font-weight: bolder;

  box-shadow: -2px 5px 8px 1px white;
  
  grid-area: display;
  margin-bottom: 1rem;
  min-height: 4rem;
}

.calculator .btn {
  
  height: 50px;

  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 0px 5px 5px white;
  border-radius: 5px;
  
}

.calculator .btn:hover {
  cursor: pointer;
  background-color: var(--secondaryClr);

  transition: all 0.3s;
}

.btn-ac{
  grid-area: ac;
}

.btn-c{
  grid-area: c;
}

.btn-per{
  grid-area:per ;
}

.btn-divide{
  grid-area: divide;
}

.btn-7{
  grid-area: btn7;
}

.btn-8{
  grid-area: btn8;
}

.btn-9{
  grid-area: btn9;
}

.btn-x{
  grid-area: x;
}

.btn-4{
  grid-area:btn4;
}

.btn-5{
  grid-area: btn5;
}

.btn-6{
  grid-area: btn6;
}

.btn-minus{
  grid-area: minus;
}

.btn-1{
  grid-area: btn1;
}

.btn-2{
  grid-area: btn2;
}

.btn-3{
  grid-area: btn3;
}

.btn-plus{
  grid-area: plus;
}

.btn-0{
  grid-area: btn0;
}

.btn-dot{
  grid-area: dot;
}

.btn-equal{
  grid-area: equal;
}




@keyframes moving {
  0%{
      transform: perspective(10rem) rotateX(30deg);
  }
  100%{
      transform: perspective(70rem) rotateX(30deg);
  }
}